// Fonts
@include font-face("Barlow", "../fonts/Barlow/BarlowRegular");
@include font-face("Barlow", "../fonts/Barlow/BarlowRegularItalic", 400, italic);
@include font-face("Barlow", "../fonts/Barlow/BarlowLight", 300);
@include font-face("Barlow", "../fonts/Barlow/BarlowLightItalic", 300, italic);
@include font-face("Barlow", "../fonts/Barlow/BarlowMedium", 500);
@include font-face("Barlow", "../fonts/Barlow/BarlowMediumItalic", 500, italic);
@include font-face("Barlow", "../fonts/Barlow/BarlowBold", 600);
@include font-face("Barlow", "../fonts/Barlow/BarlowBoldItalic", 600, italic);
@include font-face("FuturaCondensed", "../fonts/FuturaCondensed/FuturaCondensedRegular", 400, normal);
@include font-face("FuturaCondensed", "../fonts/FuturaCondensed/FuturaCondensedMedium", 500, normal, ttf);

$font_futura: "FuturaCondensed", sans-serif;
$font_barlow: "Barlow", sans-serif;

// Colors

$c-white: #fff !default;
$c-black: #000 !default;
$c-gray-100: #f8f9fa !default;
$c-gray-200: #e9ecef !default;
$c-gray-300: #dee2e6 !default;
$c-gray-400: #ced4da !default;
$c-gray-500: #adb5bd !default;
$c-gray-600: #6c757d !default;
$c-gray-700: #495057 !default;
$c-gray-800: #343a40 !default;
$c-gray-900: #212529 !default;

$c-blue: #007bff !default;
$c-red: #dc3545 !default;
$c-yellow: #ffc107 !default;
$c-green: #28a745 !default;
$c-cyan: #17a2b8 !default;

$c-primary: #1A1919 !default;

// Grid breakpoints

$grid-breakpoint-xl: 1280px;
$grid-breakpoint-lg: 1100px;
$grid-breakpoint-md: 960px;
$grid-breakpoint-sm: 721px;
$grid-breakpoint-xs: 560px;

$grid-breakpoints: (
  xs: 0,
  sm: 721px,
  md: 960px,
  lg: 1100px,
  xl: 1280px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1100px,
  xl: 1280px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

// Components

$border-width: 1px !default;
$border-color: $c-gray-300 !default;
$border-radius: .25rem !default;
$box-shadow: 0 .5rem 1rem rgba($c-black, .15) !default;

// Typography

$font-color-base: $c-primary !default;
$font-size-base: 14px !default;
$line-height-base: 1.4 !default;

// Z-index

$zindex-modal: 1050 !default;
$zindex-modal-backdrop: 1040 !default;
