<template>
    <div>
        <template v-if="saved">
            <h3 class="section-title">Your comment has been successfully added!</h3>
        </template>
        <template v-else>
            <h3 class="section-title">Add comments</h3>
            <form action="#" class="comment-form" v-bind:class="{'is-loading': isLoading}" v-on:submit.prevent="submit">
                <div class="input-block">
                    <input type="text" class="input" placeholder="Name" v-model="form.name">
                    <p v-if="errors.name" class="input-error">{{ errors.name[0] }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="Affiliation/Occupation" v-model="form.post">
                    <p v-if="errors.post" class="input-error">{{ errors.post[0] }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="E-mail" v-model="form.email">
                    <p v-if="errors.email" class="input-error">{{ errors.email[0] }}</p>
                </div>
                <div class="input-block comment-form__textarea">
                    <textarea class="input" rows="5" placeholder="Write a comment..." v-model="form.comment"></textarea>
                    <p v-if="errors.comment" class="input-error">{{ errors.comment[0] }}</p>
                </div>
                <input type="hidden" name="recaptcha" class="recaptcha_response" value="">
                <p v-if="errors.recaptcha" class="input-error">{{ errors.recaptcha[0] }}</p>
                <div class="input-block comment-form__submit">
                    <button class="button button-primary">Send</button>
                </div>
            </form>
        </template>
    </div>
</template>

<script>
import axios from "axios";

export default {
    props: {
        id: String,
        type: String,
    },
    data() {
        return {
            saved: false,
            form: {
                name: '',
                email: '',
                post: '',
                comment: '',
            },
            isLoading: false,
            errors: {}
        }
    },
    methods: {
        submit() {
            const recaptcha = $('.recaptcha_response').val();

            this.isLoading = true;
            this.errors = {};

            axios.post('/comments', {
                name: this.form.name,
                email: this.form.email,
                post: this.form.post,
                comment: this.form.comment,
                recaptcha: recaptcha,
                id: this.id,
                type: this.type,
            })
                .then(({data}) => {
                    this.form.name = '';
                    this.form.email = '';
                    this.form.post = '';
                    this.form.comment = '';
                    this.errors = {};

                    this.saved = true;

                    if (data.html) {
                        $('.section-comment-list').prepend(data.html);
                    }

                    this.isLoading = false;
                })
                .catch(({response}) => {
                    console.log(response);
                    this.isLoading = false;

                    if (response.data && response.data.errors) {
                        this.errors = response.data.errors;
                    }
                });
        }
    }
}
</script>
