<template>
    <div>
        <div class="page-title-wrapper">
            <h1 class="page-title">Pansust SAT</h1>
        </div>
        <template v-if="stageIntro">
            <survey-intro @proceed="handleProceed" @restart="handleRestart"></survey-intro>
        </template>
        <template v-if="stageForm">
            <survey-form @handleForm="handleForm"></survey-form>
        </template>
        <template v-if="stageQuestion">
            <question
                :question="questions[questionIndex]"
                :question-index="questionIndex + 1"
                :questions-count="questions.length"
                :user-answer="userAnswers[questionIndex]"
                v-on:next="nextQuestion"
                v-on:prev="prevQuestion"
            >
            </question>
        </template>
        <template v-if="stageLoading">
            <div class="sat-loading" v-bind:class="{'is-loading': stageLoading}"></div>
        </template>
    </div>
</template>

<script>
import axios from 'axios';
import question from './survey/Question';
import surveyForm from './survey/Form';
import surveyIntro from './survey/Intro';

export default {
    components: {surveyIntro, surveyForm, question},
    data() {
        return {
            stageForm: true,
            stageIntro: false,
            stageQuestion: false,
            stageLoading: false,
            form: {},
            questionIndex: 0,
            questions: [],
            userAnswers: [],
            totalScore: 0,
        }
    },
    created() {
        axios.get('/sat/load-questions')
            .then(({ data }) => {
                this.questions = data.data;
            })
            .catch((error) => {
                console.error(error);
            });

        const savedFormData = window.localStorage.getItem('formData');
        const savedQuestionIndex = window.localStorage.getItem('questionIndex');
        const savedUserAnswers = window.localStorage.getItem('userAnswers');

        if (savedFormData && savedQuestionIndex && savedUserAnswers) {
            this.stageIntro = true;
            this.stageForm = false;
        }
    },
    methods: {
        handleProceed() {
            this.form = JSON.parse(window.localStorage.getItem('formData'));
            this.userAnswers = JSON.parse(window.localStorage.getItem('userAnswers'));
            this.questionIndex = parseInt(window.localStorage.getItem('questionIndex'));
            this.stageForm = false;
            this.stageIntro = false;
            this.stageQuestion = true;
        },
        handleRestart() {
            this.clearStorage();
            this.stageIntro = false;
            this.stageForm = true;
        },
        handleForm(formData) {
            this.form = formData;
            this.stageForm = false;
            this.stageQuestion = true;

            window.localStorage.setItem('formData', JSON.stringify(formData));
        },
        handleAnswer(value) {
            this.userAnswers[this.questionIndex] = {
                question_id: this.questions[this.questionIndex].id,
                answer: value
            };

            window.localStorage.setItem('userAnswers', JSON.stringify(this.userAnswers));
        },
        nextQuestion(value) {
            this.handleAnswer(value);
            this.questionIndex++;

            window.localStorage.setItem('questionIndex', this.questionIndex);

            if (this.questionIndex === this.questions.length) {
                this.finish();
            }
        },
        prevQuestion() {
            this.questionIndex--;
            window.localStorage.setItem('questionIndex', this.questionIndex);
        },
        finish() {
            this.stageQuestion = false;
            this.stageLoading = true;

            axios.post('/sat/result', {
                form: this.form,
                answers: this.userAnswers
            })
                .then(({data}) => {
                    this.clearStorage();

                    if (data.redirect) {
                        window.location = data.redirect;
                    }

                    console.log(data);
                })
                .catch((error) => {
                    console.error(error);
                });
        },
        clearStorage() {
            window.localStorage.removeItem('formData');
            window.localStorage.removeItem('questionIndex');
            window.localStorage.removeItem('userAnswers');
        }
    }
}
</script>
