.footer {
  background-color: $c-primary;
  color: $c-white;
  padding: 65px 0;
}

.footer-copyright {
  font-size: rem(18px);
  font-weight: 500;
}

.footer-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0 65px 0;
}

.footer-subscribe {
  .footer-subscribe__title {
    margin: 0;
    font-size: rem(45px);
    font-weight: 500;
  }

  .footer-subscribe__button {
    margin-top: 35px;
    border-width: 2px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: $c-white;
  }
}

.footer-content {
  display: flex;
}

.footer-content__column {
  &:first-child {
    .footer-socials {
      display: none;
    }
  }
}

.footer-contacts {
  margin-right: 100px;
  font-size: rem(18px);
  font-weight: 500;
}

.footer-contacts__row {
  display: flex;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
    margin-top: 43px;
  }

  .footer-contacts__row-label {
    text-transform: uppercase;
    width: 100px;
    margin-right: 10px;
  }

  .footer-contacts__row-value span {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  &:first-child {
    margin-right: 70px;
  }
}

.footer-nav__item {
  margin-bottom: 15px;
}

.footer-nav__link {
  color: $c-white;
  font-size: rem(18px);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.social-list.footer-socials {
  width: 100%;
  margin-top: 30px;

  .social-list__item {
    &.instagram {
      background: url('../images/icon_instagram_w.svg');
    }

    &.facebook {
      background: url('../images/icon_facebook_w.svg');
    }

    &.linkedin {
      background: url('../images/icon_linkedin_w.svg');
    }
  }
}

@media (max-width: $grid-breakpoint-sm) {
  .footer {
    padding: 40px 0;
  }
  .footer-row {
    flex-direction: column;
    padding: 20px 0 25px 0;
  }
  .footer-row__column {
    width: 100%;
  }
  .footer-nav {
    flex-direction: column;
  }
  .footer-subscribe {
    margin-bottom: 80px;
  }
  .footer-content__column {
    &:first-child {
      .footer-socials {
        display: flex;
      }
    }
    &:last-child {
      .footer-socials {
        display: none;
      }
    }
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .footer {
    padding: 30px 0;
  }
  .footer-nav {
    display: none;
  }
  .footer-subscribe {
    text-align: center;
    margin-bottom: 50px;

    .footer-subscribe__title {
      font-size: rem(22px);
    }
    .footer-subscribe__button {
      margin-top: 30px;
    }
  }
  .footer-content {
    display: block;
  }
  .footer-contacts {
    margin-right: 0;
  }
  .footer-contacts__row {
    display: block;
    text-align: center;
    margin-bottom: 30px;

    &:last-child {
      margin-top: 0;
    }

    .footer-contacts__row-label {
      margin-right: 0;
      width: 100%;
    }

    .footer-contacts__row-value span {
      display: block;
      margin-bottom: 10px;
    }
  }
  .footer-socials {
    justify-content: center;
  }
  .footer-copyright {
    text-align: center;
    margin-top: 30px;
  }
}