.header {
  margin-bottom: 30px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $c-primary;
  padding: 40px 0 35px 0;
}

.header-logo {
  display: flex;
  align-items: center;

  img {
    display: block;
    max-width: 100%;
  }

  a {
    display: block;
  }

  .header-logo__main {
    margin-right: 20px;
  }
}

.header-nav {

}

.header-nav-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: rem(18px);
  line-height: 1;

  .nav-list__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      .nav-list__link:after {
        background: $c-primary;
      }
    }
  }

  .nav-list__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: $c-primary;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: transparent;
      transition: background-color 0.3s;
    }

    &:hover {
      &:after {
        background: $c-primary;
      }
    }
  }
}

.header-subscribe {
  margin-left: 50px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $c-primary;
  padding: 20px 0;
  align-items: center;
}

.header-search {
  display: flex;
  width: 100%;
  align-items: center;

  .header-search__form {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .header-search__icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/icon_search.svg') no-repeat center;
    background-size: contain;
    margin: 0 10px 0 0;
  }

  .header-search__input {
    width: 100%;
    height: 30px;
    padding: 0;
    border: none;
    font-size: rem(18px);
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }
}

.mobile-nav-toggle {
  display: none !important;
}

.header-mobile-box {
  display: none;
  padding: 30px 0;
  background: $c-white;
}

.header-mobile-box__nav {
  padding-bottom: 30px;
}

.header-mobile-box__subscribe {
  border-top: 2px solid $c-primary;
  text-align: center;
  padding: 30px 0 20px 0;
  font-size: rem(25px);
  font-weight: 500;

  a {
    color: $c-primary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: $grid-breakpoint-xl) {
  .nav-list {
    .nav-list__item {
      margin-right: 30px;
    }
  }
}

@media (max-width: $grid-breakpoint-lg) {
  .nav-list {
    .nav-list__item {
      margin-right: 20px;
    }
  }
}

@media (max-width: $grid-breakpoint-md) {
  .header-logo {
    .header-logo__main {
      margin-right: 10px;
      max-width: 30px;
    }
    .header-logo__nu {
      max-width: 115px;
    }
  }
  .header-subscribe {
    display: none;
  }
  .nav-list {
    .nav-list__item {
      margin-right: 15px;
    }
  }
}

@media (max-width: $grid-breakpoint-sm) {
  .header-logo {
    .header-logo__main {
      max-width: 32px;
    }
    .header-logo__nu {
      max-width: 125px;
    }
  }
  .header-nav-wrapper {
    display: none;
  }
  .mobile-nav-toggle {
    display: block !important;
  }
  .header-top {
    font-size: 0;
  }
  .nav-list {
    display: block;
    text-align: center;
    font-size: rem(25px);

    .nav-list__item {
      margin-right: 0;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .nav-list__link {
      display: inline-block;
    }
  }
}