.section-hero {
  margin-bottom: 90px;

  .section-inner {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.hero-content {
  width: 100%;
  font-size: rem(60px);
  font-weight: 500;
  padding-left: 90px;
  max-width: 830px;
  line-height: 1.3;
  margin: 0;

  &:before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: $c-primary;
    position: absolute;
    top: 35px;
    left: 0;
  }
}

.hero-button {
  position: relative;
  padding-right: 190px;
  padding-top: 20px;
  padding-bottom: 20px;

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.2s, right 0.2s;
  }

  &:after {
    width: 130px;
    right: 40px;
    height: 2px;
    background: $c-white;
  }

  &:before {
    width: 15px;
    height: 15px;
    right: 25px;
    background: url('../images/icon_triangle.svg');
  }

  &:hover {
    &:after {
      right: 35px;
    }
    &:before {
      right: 20px;
    }
  }
}

.page-hero {
  border-bottom: 2px solid $c-primary;
  padding-bottom: 60px;
}

@media (max-width: $grid-breakpoint-md) {
  .section-hero {
    .section-inner {
      flex-direction: column;
    }
  }
  .hero-content {
    font-size: rem(50px);
  }
  .hero-button {
    margin-top: 30px;
  }
}

@media (max-width: $grid-breakpoint-md) {
  .hero-content {
    font-size: rem(36px);
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .section-hero {
    margin-bottom: 30px;
  }
  .hero-content {
    font-size: rem(25px);
    padding-left: 40px;
    line-height: 1.4;

    &:before {
      width: 20px;
      top: 15px;
    }
  }
  .hero-action {
    width: 100%;
    text-align: center;
  }
  .hero-button {
    margin-top: 30px;
  }
}