$modal-dialog-margin: 1.75rem !default;

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
  max-width: 560px;
  margin: $modal-dialog-margin auto;

  .modal.fade & {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
  }

  .modal.show & {
    transform: none;
  }
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - #{$modal-dialog-margin * 2});

  .modal-content {
    max-height: calc(100vh - #{$modal-dialog-margin * 2});
    overflow: hidden;
  }

  .modal-header,
  .modal-footer {
    flex-shrink: 0;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - #{$modal-dialog-margin * 2});

  &::before {
    content: '';
    display: block;
    height: calc(100vh - #{$modal-dialog-margin * 2});
  }

  &.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .modal-content {
      max-height: none;
    }

    &::before {
      content: none;
    }
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $font-color-base;
  pointer-events: auto;
  background-color: $c-white;
  background-clip: padding-box;
  border: 6px solid $c-primary;
  border-radius: 0;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  width: 100vw;
  height: 100vh;
  background-color: $c-black;

  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: 0.5;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;

  .close {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    background-image: url('../images/icon_close.svg');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    appearance: none;
  }
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid $c-gray-300;
  @include border-bottom-radius(0.3);

  & > :not(:first-child) {
    margin-left: .25rem;
  }

  & > :not(:last-child) {
    margin-right: .25rem;
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-message {
  text-align: center;
  padding-bottom: 60px;
}

.modal-message__icon {
  width: 154px;
  height: 154px;
  margin: 0 auto 40px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &.fail-icon {
    background-image: url('../images/icon_fail.svg');
  }

  &.success-icon {
    background-image: url('../images/icon_success.svg');
  }
}

.modal-message__title {
  font-size: rem(45px);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.modal-message__text {
  max-width: 400px;
  margin: 0 auto 40px auto;
  font-size: rem(28px);
  font-weight: 500;
}

.modal-message__link {
  margin-top: 20px;
}

.modal {
  .input-block {
    text-align: left;
  }
}

.success-template {
  display: none;
}

@media (max-width: $grid-breakpoint-xs) {
  .modal-content {
    border-width: 2px;
  }
  .modal-message__icon {
    width: 96px;
    height: 96px;
    margin-bottom: 30px;
  }
  .modal-message__title {
    font-size: rem(32px);
  }
  .modal-message__text {
    font-size: rem(20px);
  }
  .modal-message {
    .button {
      width: 100%;
      max-width: 375px;
    }
  }
}