.section-subscribe {
  .section-inner {
    padding: 60px 0 30px 0;
    border-top: 2px solid $c-primary;
  }

  .section-title {
    font-size: rem(70px);
    font-weight: 500;
    max-width: 1040px;
    text-transform: none;
    line-height: 1.3;

    a {
      color: $c-black;
      text-decoration: none;
      border-bottom: 3px solid $c-black;

      &:hover {
        text-decoration: none;
        border-color: $c-white;
      }
    }
  }
}

@media (max-width: $grid-breakpoint-sm) {
  .section-subscribe {
    .section-title {
      font-size: rem(50px);
    }
  }
}


@media (max-width: $grid-breakpoint-xs) {
  .section-subscribe {
    .section-inner {
      padding: 40px 0 0 0;
    }
  }
  .section-subscribe {
    .section-title {
      text-align: justify;
      font-size: rem(25px);
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}