.tabs-nav-wrapper {
  padding-bottom: 20px;
  border-bottom: 2px solid $c-primary;
  margin-bottom: 45px;
}

.tabs-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-nav__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &.is-active {
    .tabs-nav__link {
      background: $c-primary;
      color: $c-white;
    }
  }
}

.tabs-nav__link {
  display: block;
  padding: 5px 10px;
  font-size: rem(18px);
  font-weight: 500;
  color: $c-primary;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background: $c-primary;
    color: $c-white;
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .tabs-nav-wrapper {
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .tabs-nav {
    flex-wrap: wrap;
  }
  .tabs-nav__item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}