//
// Forms
// --------------------------------------------------

.form-control {
    font-family: $font-family-base;

    // Alternative Style
    &.form-control-alt {
        border-color: $body-bg;
        background-color: $body-bg;
        transition: none;

        &:focus {
            border-color: $body-bg-dark;
            background-color: $body-bg-dark;
            box-shadow: none;
        }

        &.is-valid {
            border-color: theme-color("success-light");
            background-color: theme-color("success-light");

            &:focus {
                border-color: lighten(theme-color("success-light"), 2%);
                background-color: lighten(theme-color("success-light"), 2%);
            }
        }

        &.is-invalid {
            border-color: theme-color("danger-light");
            background-color: theme-color("danger-light");


            &:focus {
                border-color: lighten(theme-color("danger-light"), 2%);
                background-color: lighten(theme-color("danger-light"), 2%);
            }
        }
    }
}

.invalid-feedback {
    display: block;
}