<template>
    <div>
        <div class="page-content">
            <h3>WELCOME TO OUR SUSTAINABILITY ASSESSMENT TOOL!</h3>
            <p>
                Here you will be asked several questions which will result in building assessment from environmental,
                economical and social & functional sides.
            </p>
            <p>
                Please read the instructions by the
                <a href="https://docs.google.com/document/d/1WChp5EDmBgDvSx-qZayleO2FDWHvEGY9th3NDGvq6YI/edit?usp=sharing" target="_blank">following link</a>.
            </p>
            <p>
                Before starting survey please fill in your details. The survey results will be sent to your email. If
                you didn’t receive anything please check your spam folder.
            </p>
            <p>
                If you plan to pause and resume to the survey later, you can close the page and your answers will be
                saved, but please make sure not to clear your browser cache.
            </p>
        </div>
        <div class="sat-form-wrapper">
            <div class="sat-form">
                <div class="input-block">
                    <input type="text" class="input" placeholder="Name" v-model="main.name">
                    <p v-if="errors.name" class="input-error">{{ errors.name }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="E-mail" v-model="main.email">
                    <p v-if="errors.email" class="input-error">{{ errors.email }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="Affiliation" v-model="main.affiliation">
                    <p v-if="errors.affiliation" class="input-error">{{ errors.affiliation }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="Assessment date" v-model="additional.assessment_date">
                    <p v-if="errors.assessment_date" class="input-error">{{ errors.assessment_date }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="Building city" v-model="additional.building_city">
                    <p v-if="errors.building_city" class="input-error">{{ errors.building_coordinates }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="Building coordinates" v-model="additional.building_coordinates">
                    <p v-if="errors.building_coordinates" class="input-error">{{ errors.building_coordinates }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="Building type" v-model="additional.building_type">
                    <p v-if="errors.building_type" class="input-error">{{ errors.building_type }}</p>
                </div>
                <div class="input-block">
                    <input type="text" class="input" placeholder="Construction year" v-model="additional.construction_year">
                    <p v-if="errors.construction_year" class="input-error">{{ errors.construction_year }}</p>
                </div>
                <div class="input-block form-submit-block">
                    <button class="button button-primary" @click="saveForm">Send</button>
                </div>
            </div>
        </div>
        <div class="page-content">
            <p>
                1- Ferhat Karaca, Mert Guney, Aiganym Kumisbek, Dina Kaskina, Serik Tokbolat, A new stakeholder
                opinion-based rapid sustainability assessment method (RSAM) for existing residential buildings,
                Sustainable Cities and Society, Volume 60, 2020,
                102155, ISSN 2210-6707, https://doi.org/10.1016/j.scs.2020.102155,
                (https://www.sciencedirect.com/science/article/pii/S2210670720301426)
            </p>
            <p>
                2- Ferhat Karaca, Mert Guney, Aiganym Kumisbek, Indicator rating methodology for Rapid Sustainability
                Assessment Method (RSAM) for existing residential buildings using opinions of residents, MethodsX,
                Volume 7, 2020, 101105, ISSN 2215-0161, https://doi.org/10.1016/j.mex.2020.101105,
                (https://www.sciencedirect.com/science/article/pii/S2215016120303253)
            </p>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            main: {
                name: '',
                email: '',
                affiliation: '',
            },
            additional: {
                assessment_date: '',
                building_city: '',
                building_coordinates: '',
                building_type: '',
                construction_year: '',
            },
            errors: {}
        }
    },
    methods: {
        saveForm() {
            if (!this.validate()) {
                return;
            }

            this.$emit('handleForm', {
                main: this.main,
                additional: this.additional,
            });
        },
        validate() {
            const requiredMsg = 'Field is required'
            const errors = {};

            for (const additionalItem in this.additional) {
                if (!this.validField(this.additional[additionalItem])) {
                    errors[additionalItem] = requiredMsg;
                }
            }

            if (!this.validField(this.main.name)) {
                errors.name = requiredMsg;
            }

            if (!this.validField(this.main.email)) {
                errors.email = requiredMsg;
            } else if (!this.validEmail(this.main.email)) {
                errors.email = 'Invalid email address';
            }

            if (!this.validField(this.main.affiliation)) {
                errors.affiliation = requiredMsg;
            }

            this.errors = errors;

            return Object.keys(this.errors).length === 0;
        },
        validEmail(value) {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(value).toLowerCase());
        },
        validField(value) {
            return value.length && value.length > 1
        }
    }
}
</script>
