<template>
    <div>
        <div class="page-content">
            <h4>You have unfinished previous survey. Do you want to continue?</h4>
            <button class="button button-primary" @click="proceed">Yes</button>
            <button class="button button-outline" @click="restart">No</button>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        proceed() {
            this.$emit('proceed');
        },
        restart() {
            this.$emit('restart');
        },
    }
}
</script>
