<template>
    <div class="sat-question-wrapper" v-if="question">
        <h3 class="sat-question__title">{{ indexTitle }} question</h3>
        <h2 class="sat-question__text"  v-html="question.title"></h2>
        <template v-if="isSingleSelectType">
            <div class="sat-question__answers">
                <div class="sat-question__answers-item" v-for="answer in question.answers">
                    <label class="custom-radio-button"><span v-html="answer.title"></span>
                        <input type="radio"
                               name="answer"
                               :value="answer.id"
                               v-model="answerValue"
                        >
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </template>
        <template v-else-if="isMultiSelectType">
            <div class="sat-question__answers">
                <div class="sat-question__answers-item" v-for="answer in question.answers">
                    <label class="custom-check-button"><span v-html="answer.title"></span>
                        <input type="checkbox"
                               name="answer"
                               :value="answer.id"
                               v-model="answerValue"
                        >
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </template>
        <template v-else-if="isInputType">
            <div class="sat-question__answers">
                <div class="input-block">
                    <input type="text" class="input" v-model="answerValue">
                    <p v-if="errors.error" class="input-error">{{ errors.error }}</p>
                </div>
            </div>
        </template>
        <div class="sat-question__index">{{ questionIndex }}<span class="divider">/</span>{{ questionsCount }}</div>
        <div class="sat-question__action">
            <button class="button button-primary" @click="next" :disabled="nextIsDisabled">
                <span v-if="questionIndex === questionsCount">Result</span>
                <span v-else>Next</span>
            </button>
            <button class="button button-link" @click="prev" v-if="questionIndex > 1">
                Go back
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        question: Object,
        userAnswer: null,
        questionIndex: Number,
        questionsCount: Number,
    },
    data() {
        return {
            answerValue: [],
            errors: {},
        }
    },
    computed: {
        indexTitle() {
            const j = this.questionIndex % 10;
            const k = this.questionIndex % 100;
            let suffix = 'th';

            if (j === 1 && k !== 11) {
                suffix = 'st';
            } else if (j === 2 && k !== 12) {
                suffix = 'nd';
            } else if (j === 3 && k !== 13) {
                suffix = 'rd';
            }

            return this.questionIndex + suffix;
        },
        nextIsDisabled() {
            return !this.answerValue || (Array.isArray(this.answerValue) && !this.answerValue.length);
        },
        isSingleSelectType() {
            return this.question.type === 'single_select';
        },
        isMultiSelectType() {
            return this.question.type === 'multi_select';
        },
        isInputType() {
            return this.question.type === 'input';
        },
        answerInputData() {
            if (!this.isInputType) {
                return null;
            }

            return this.question.answers;
        }
    },
    watch: {
        userAnswer(data) {
            this.answerValue = data ? data.answer : [];
        },
    },
    methods: {
        prev() {
            this.$emit('prev');
        },
        next() {
            if (!this.validate()) {
                return;
            }

            this.$emit('next', this.answerValue);
            this.answerValue = [];
        },
        validate() {
            this.errors = {};

            if (this.isInputType) {
                const type = this.answerInputData.type;

                if (type === 'number' && (!this.valueIsInteger(this.answerValue) && !this.valueIsFloat(this.answerValue))) {
                    this.errors.error = 'Value should be integer or float  number';
                } else if (type === 'integer' && !this.valueIsInteger(this.answerValue)) {
                        this.errors.error = 'Value should be integer number';
                } else if (type === 'float' && !this.valueIsFloat(this.answerValue)) {
                    this.errors.error = 'Value should be float number';
                } else if (this.answerInputData.min_value !== null && this.answerValue < this.answerInputData.min_value) {
                    this.errors.error = 'Value should be more than ' + this.answerInputData.min_value;
                } else if (this.answerInputData.max_value !== null && this.answerValue > this.answerInputData.max_value) {
                    this.errors.error = 'Value should be less than ' + this.answerInputData.max_value;
                }
            }

            return Object.keys(this.errors).length === 0;
        },
        valueIsInteger(value) {
            return Number.isInteger(Number(value));
        },
        valueIsFloat(value) {
            return Number(value) === 0 || Number(value) % 1 !== 0;
        }
    }
}
</script>
