.areas-list {
  margin-bottom: 60px;
}

.areas-list__item {
  display: flex;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.areas-list__item-image {
  width: 50%;

  img {
    display: block;
    max-width: 100%;
  }
}

.areas-list__item-content {
  width: 50%;
  font-size: rem(18px);
  font-family: $font_barlow;
  padding: 20px 0;
}

.areas-list__item-text {
  line-height: 1.6;
}

.areas-list__item-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.areas-list__item-title {
  font-size: rem(48px);
  font-weight: 500;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

@media (max-width: $grid-breakpoint-md) {
  .page-column-image {
    display: none;
  }
  .areas-list__item-image {
    img {
      height: 650px;
      object-fit: cover;
    }
  }
  .areas-list__item-title {
    font-size: rem(48px);
  }
}

@media (max-width: $grid-breakpoint-sm) {
  .areas-list__item {
    display: block;
    margin-bottom: 30px;
  }
  .areas-list__item-image {
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 200px;
    }
  }
  .areas-list__item-content {
    width: 100%;
    font-size: rem(18px);
    padding-top: 0;
  }
  .areas-list__item-inner {
    padding: 0;
  }
  .areas-list__item-title {
    font-size: rem(32px);
    margin: 0 0 10px 0;
  }
}