.article-content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  font-family: $font_barlow;
  font-size: rem(18px);
  line-height: 1.6;
  margin-bottom: 60px;

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 30px;
  }

  h2:not(:first-child), h3:not(:first-child) {
    margin: 50px 0 20px 0;
  }

  ul, ol {
    padding-left: 20px;

    li {
      margin: 20px 0;
    }
  }

  blockquote {
    position: relative;
    padding: 0 0 60px 0;
    margin: 0 0 60px 0;
    font-size: rem(48px);
    font-weight: 500;
    line-height: 1.4;
    border-bottom: 2px solid $c-primary;

    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      background: $c-primary;
      position: absolute;
      top: 40px;
      left: -100px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .article-content {
    font-size: rem(15px);
    margin-bottom: 20px;

    p {
      line-height: 1.7;
      margin-bottom: 20px;
    }

    h2:not(:first-child), h3:not(:first-child) {
      margin: 30px 0 10px 0;
    }

    blockquote {
      padding: 0 0 30px 40px;
      margin: 0 0 30px 0;
      font-size: rem(25px);

      &:before {
        width: 20px;
        top: 20px;
        left: 0;
      }

      p {
        line-height: 1.5;
      }
    }
  }
}