.article-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  justify-content: space-between;

  .article-blocks__item {
    width: 50%;
  }
}

.article-blocks__item {
  padding: 0 20px;
  max-width: 640px;
  margin-bottom: 60px;
}

.article-blocks__item-preview {
  margin-bottom: 45px;

  a {
    background: $c-primary;
    display: block;

    &:hover {
      img {
        opacity: 0.7;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    transition: opacity 0.2s;
  }
}

.article-blocks__item-published {
  color: #545050;
  font-style: rem(16px);
  text-transform: uppercase;
}

.article-blocks__item-title {
  margin-top: 12px;
}

.article-blocks__item-link {
  display: inline-block;
  font-size: rem(28px);
  font-weight: 400;
  color: $c-primary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@media (max-width: $grid-breakpoint-md) {
  .article-blocks__item-link {
    font-size: rem(25px);
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .article-blocks {
    margin: 0 -10px;

    .article-blocks__item {
      width: 100%;
    }
  }
  .article-blocks__item {
    max-width: 375px;
    padding: 0 10px;
    margin: 0 auto 30px auto;
  }
  .article-blocks__item-preview {
    margin-bottom: 20px;
  }
  .article-blocks__item-link {
    font-size: rem(20px);
  }
}