.articles-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .article-list__item {
    width: 33.33%;
    padding: 0 15px;
  }

  &.articles-list--2column {
    .article-list__item {
      width: 50%;
      margin-bottom: 50px;

      .article-list__item-inner {
        display: flex;
        max-width: 520px;
      }

      .article-list__item-preview {
        width: 40%;
        max-width: 200px;
        margin-bottom: 0;
      }

      .article-list__item-content {
        width: 60%;
        padding-left: 30px;
      }
    }
  }
}

.article-list__item {
  margin-bottom: 30px;
}

.article-list__item-preview {
  margin-bottom: 45px;
  position: relative;

  a {
    background: $c-primary;
    display: block;

    &:hover {
      img {
        opacity: 0.7;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    transition: opacity 0.2s;
  }
}

.article-list__item-published {
  color: #545050;
  font-style: rem(16px);
  text-transform: uppercase;
}

.article-list__item-title {
  margin-top: 12px;
}

.article-list__item-link {
  display: inline-block;
  font-size: rem(28px);
  font-weight: 400;
  color: $c-primary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.section-related-articles {
  .section-title-wrapper {
    padding-bottom: 0;
    margin-bottom: 60px;
    border: none;
  }
}

@media (max-width: $grid-breakpoint-sm) {
  .articles-list {
    margin: 0 -10px;

    .article-list__item {
      width: 50%;
      padding: 0 10px;
    }

    &:not(.articles-list--2column) {
      .article-list__item:nth-child(3) {
        display: none;
      }
    }

    &.articles-list--2column {
      .article-list__item {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  .article-list__item-link {
    font-size: rem(25px);
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .section-related-articles {
    .section-title-wrapper {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 2px solid $c-primary;
    }
  }
  .articles-list {
    .article-list__item {
      width: 100%;
    }

    &:not(.articles-list--2column) {
      .article-list__item-inner {
        max-width: 400px;
        margin: 0 auto;
      }
    }

    &.articles-list--2column {
      .article-list__item {
        width: 100%;
        margin-bottom: 30px;

        .article-list__item-preview {
          width: 30%;
          max-width: 130px;
          min-width: 115px;
        }
        .article-list__item-content {
          width: 70%;
          padding-left: 15px;
        }
        .article-list__item-link {
          font-size: rem(20px);
        }
      }
    }
  }
  .article-list__item-preview {
    margin-bottom: 20px;
  }
  .article-list__item-link {
    font-size: rem(25px);
  }
  .article-list__item-title {
    margin-top: 6px;
  }
}