.section-comment-form {
  position: relative;
  max-width: 800px;
  margin: 0 auto 145px auto;
  font-family: $font_barlow;
  font-size: rem(18px);
  line-height: 1.6;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid $c-primary;

  .section-title {
    margin-bottom: 40px;
  }
}

.comment-form__textarea {
  margin-top: 50px;
}

.comment-form__submit {
  margin-top: 40px;
}

.section-comment-list {
  padding-bottom: 30px;
  margin-bottom: 90px;
  border-bottom: 2px solid $c-primary;
}

.comment-block {
  margin-bottom: 60px;
}

.comment-block__header {
  display: flex;
}

.comment-block__header-icon {
  width: 60px;
  flex-shrink: 0;

  img {
    display: block;
    max-width: 100%;
  }
}

.comment-block__header-info {
  padding-left: 20px;
}

.comment-block__author {
  font-size: rem(18px);
  margin-top: 5px;
}

.comment-block__published {
  font-size: rem(18px);
  font-weight: 500;
}

.comment-block__content {
  padding-left: 80px;
}

.comment-block__text {
  margin-top: 25px;
  font-size: rem(18px);
  font-family: $font_barlow;
  line-height: 1.6;
}

.is-loading:not(.button) {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(255 255 255 / 65%);
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    border: 8px solid #a9a9a9;
    border-radius: 50%;
    border-top: 8px solid #000;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: $grid-breakpoint-xs) {
  .section-comment-form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;

    .section-title {
      margin-bottom: 30px;
    }
  }
  .section-comment-list {
    padding-bottom: 0;
    margin-bottom: 30px;
    border-bottom: none;
  }
  .comment-form__textarea {
    margin-top: 30px;
  }
  .comment-form__submit {
    text-align: center;

    .button {
      width: 100%;
      max-width: 375px;
    }
  }
  .comment-block {
    margin-bottom: 30px;
  }
  .comment-block__content {
    padding-left: 0;
  }
  .comments-load-more {
    text-align: center;

    .button {
      max-width: 375px;
      width: 100%;
    }
  }
}