.contacts-map {
  border: 2px solid #000;

  img {
    display: block;
    max-width: 100%;
  }

  &.contacts-map--mobile {
    display: none;
  }
}

.contact-block {
  margin-bottom: 90px;
}

.contact-block__title {
  font-size: rem(28px);
  font-weight: 500;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.contact-block__content {
  font-size: rem(18px);
  font-weight: 500;
}

.contact-block__content-row {
  margin-bottom: 20px;
  display: flex;
}

.contact-block__content-row-title {
  width: 110px;
  text-transform: uppercase;
}

.contact-block__content-row-value {
  padding-left: 40px;

  p:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: $grid-breakpoint-sm) {
  .contacts-page-wrapper {
    .page-title-wrapper {
      display: none;
    }

    .section-hero {
      margin-bottom: 60px;
    }
  }
  .contacts-map {
    &.contacts-map--desktop {
      display: none;
    }

    &.contacts-map--mobile {
      display: block;
    }
  }
  .contact-block {
    &.contact-block--location {
      display: flex;

      .contact-block-info {
        width: 55%;
      }

      .contact-block-map {
        width: 45%;
      }
    }
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .contacts-page-wrapper {
    .section-hero {
      padding-bottom: 30px;
      margin-bottom: 50px;
    }
  }
  .contact-block__title {
    font-size: rem(22px);
    margin-bottom: 30px;
    text-align: center;
  }
  .contact-block {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &.contact-block--location {
      display: block;

      .contact-block-info,
      .contact-block-map {
        width: 100%;
      }
    }
  }
  .contacts-map {
    margin-top: 20px;
  }
  .contact-block__content-row {
    display: block;
    text-align: center;
  }
  .contact-block__content-row-title {
    width: 100%;
  }
  .contact-block__content-row-value {
    padding-left: 0;
  }
}