.section-feedback-form {
  position: relative;
  max-width: 800px;
  font-family: $font_barlow;
  font-size: rem(18px);
  line-height: 1.6;
  padding-top: 30px;
  margin-bottom: 120px;

  .section-title {
    margin-bottom: 40px;
  }
}

.feedback-form__textarea {
  margin-top: 50px;
}

.feedback-form__submit {
  margin-top: 40px;
}

@media (max-width: $grid-breakpoint-xs) {
  .section-feedback-form {
    margin-bottom: 80px;

    .section-title {
      margin-bottom: 30px;
    }
  }
  .feedback-form__textarea {
    margin-top: 30px;
  }
  .feedback-form__submit {
    margin-top: 30px;
    text-align: center;

    .button {
      max-width: 375px;
      width: 100%;
    }
  }
}
