.sat-form-wrapper {
  margin-bottom: 60px;
  max-width: 800px;
}

.sat-question-wrapper {
  margin-bottom: 90px;
}

.sat-question__title {
  font-size: rem(60px);
  font-weight: 500;
  margin: 0 0 25px 0;
}

.sat-question__text {
  font-size: rem(25px);
  font-weight: 500;
}

.sat-question__action {
  margin-top: 30px;
  display: flex;
  align-items: center;

  .button {
    margin-right: 20px;
  }
}

.sat-question__answers {
  padding: 20px 0;
  max-width: 500px;
}

.sat-question__index {
  font-size: rem(22px);

  .divider {
    font-size: 30px;
    margin-left: 2px;
  }
}

.sat-result-wrapper {
  margin-bottom: 90px;
}

.sat-result__header {
  text-align: center;
}

.sat-result__icon {
  width: 173px;
  height: 173px;
  margin: 0 auto;
  background-image: url('../images/icon_success.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.sat-result__title {
  margin-top: 40px;
  font-size: rem(45px);
  font-weight: 500;
}

.sat-result__text {
  font-size: rem(25px);
  max-width: 800px;
  margin: 40px auto 0 auto;
}

.sat-result__footer {
  max-width: 615px;
  margin: 40px auto 0 auto;

  .button {
    margin-top: 60px;
  }

  .share-wrapper .social-list {
    justify-content: flex-start;
  }
}

.sat-result__graph {
  max-width: 615px;
  margin: 40px auto 0 auto;
}

.sat-result__graph-footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.sat-result__graph-label {
  text-align: center;
  text-transform: uppercase;
  color: #545050;
  margin: 0 30px;

  &.sf {
    .box {
      background: #C4C4C4;
    }
  }

  &.eco {
    .box {
      background: #C5F9BC;
    }
  }

  &.env {
    .box {
      background: #80C5DA;
    }
  }

  .box {
    display: block;
    width: 43px;
    height: 43px;
  }
  
  .name {
    display: block;
    margin-top: 10px;
  }
}

.sat-graph {
  &.on-mobile {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}

.sat-loading {
  height: 200px;
}

@media (max-width: $grid-breakpoint-xs) {
  .sat-form-wrapper {
    margin-bottom: 50px;

    .form-submit-block {
      .button {
        width: 100%;
        max-width: 375px;
      }
    }
  }
  .sat-question-wrapper {
    margin-bottom: 80px;
  }
  .sat-question__title {
    font-size: rem(32px);
    margin-bottom: 20px;
  }
  .sat-question__text {
    font-size: rem(22px);
  }
  .sat-question__action {
    margin-top: 0;
    display: block;
    text-align: center;

    .button {
      width: 100%;
      max-width: 375px;
      margin-right: 0;
    }
  }
  .sat-question__index {
    padding-top: 15px;
  }
  .sat-question__answers-item {
    margin-bottom: 7px;
  }
  .sat-result-wrapper {
    margin-bottom: 80px;
  }
  .sat-result__icon {
    width: 96px;
    height: 96px;
  }
  .sat-result__title {
    margin-top: 20px;
    font-size: rem(22px);
  }
  .sat-result__text {
    font-size: rem(20px);
    margin-top: 20px;
  }
  .sat-result__footer {
    text-align: center;

    .button {
      width: 100%;
      max-width: 375px;
      margin-top: 50px;
    }
  }
  .sat-graph {
    &.on-desktop {
      display: none;
    }
    &.on-mobile {
      display: block;
    }
  }
}