.search-results-title {
  text-transform: uppercase;
  font-size: rem(28px);
  font-weight: 500;
  margin-bottom: 60px;

  span {
    display: inline-block;
    color: #545050;
    border-bottom: 2px solid #545050;
  }
}

.result-item {
  margin-bottom: 50px;
}

.result-item-inner {
  display: flex;
}

.result-item__title {
  margin: 0 0 10px 0;
}

.result-item__link {
  display: inline-block;
  color: $c-primary;
  font-size: rem(25px);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.result-item__preview {
  width: 200px;
  margin-right: 30px;
  flex-shrink: 0;

  img {
    display: block;
    max-width: 100%;
  }
}

.result-item__content {
  padding: 15px 0;
}

.result-item__description {
  max-width: 535px;
  line-height: 1.5;
  font-family: $font_barlow;
  font-size: rem(18px);
}

.search-empty-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 120px;
}

.search-empty__image {
  img {
    display: block;
    max-width: 100%;
  }
}

.search-empty__title {
  font-size: rem(60px);
  font-weight: 500;
  margin: 20px 0 30px 0;
}

.search-result-more {
  margin-bottom: 50px;
}

.search-result-divider {
  border: 1px solid #545050;
  margin-bottom: 30px;
}

@media (max-width: $grid-breakpoint-xs) {
  .search-results-title {
    font-size: rem(20px);
    margin-bottom: 30px;
  }
  .result-item {
    margin-bottom: 30px;
  }
  .result-item__preview {
    width: 115px;
    margin-right: 15px;
  }
  .result-item__content {
    padding: 0;
  }
  .result-item__link {
    font-size: rem(20px);
  }
  .result-item__description {
    display: none;
  }
  .search-empty-wrapper {
    margin-bottom: 80px;

    .button {
      max-width: 375px;
      width: 100%;
    }
  }
  .search-empty__title {
    font-size: rem(32px);
  }
  .search-empty__image {
    max-width: 240px;
  }
}