.page-header-search {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #1A1919;
  padding: 20px 0;
  margin-bottom: 60px;

  .page-search__form {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .page-search__icon {
    width: 24px;
    height: 24px;
    background: url('../images/icon_search.svg');
    margin-right: 10px;
  }

  .page-search__input {
    width: 100%;
    height: 30px;
    padding: 0;
    border: none;
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }
  }
}

.wiki-letters-wrapper {
  margin-bottom: 60px;
}

.wiki-letters {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.wiki-letters__item {
  margin: 0 10px 30px 10px;

  &.wiki-letters__item--active {
    .wiki-letters__link {
      background: $c-primary;
      color: $c-white;
      text-decoration: none;
    }
  }
}

.wiki-letters__link {
  display: block;
  width: 65px;
  height: 65px;
  line-height: 67px;
  font-size: rem(45px);
  font-weight: 500;
  color: $c-primary;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: $c-primary;
    color: $c-white;
    text-decoration: none;
  }
}

.wiki-list-wrapper {
  margin-bottom: 90px;
}

.wiki-list__item {
  margin-bottom: 20px;

  &.wiki-list__item--open {
    .wiki-list__item-title {
      color: #545050;
      border-color: #545050;
    }
  }
}

.wiki-list__item-title {
  display: inline-block;
  font-size: rem(25px);
  font-weight: 500;
  border-bottom: 2px solid transparent;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.wiki-list__item-text {
  font-size: rem(18px);
  font-family: $font_barlow;
  line-height: 1.5;
  padding: 20px;
  background: #F8F6F6;

  ol, ul {
    padding-left: 20px;
  }
}

.wiki-list__item-body {
  padding-top: 20px;
  display: none;
}

@media (max-width: $grid-breakpoint-xs) {
  .page-header-search {
    margin-bottom: 30px;
  }
  .wiki-letters-wrapper {
    margin-bottom: 20px;
  }
  .wiki-letters__item {
    margin: 0 0 10px 0;
  }
  .wiki-letters__link {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: rem(22px);
  }
  .wiki-list__item-title {
    font-size: rem(22px);
  }
  .wiki-list__item-text {
    font-size: rem(16px);
  }
}