//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.btn-save {
  min-width: 100px;
}

.form-group {
  &.is-invalid {
    .form-control {
      border-color: #d26a5c;
    }
  }
}

.hidden {
  display: none;
}

.block-header {
  & > .block-options {
    padding-left: 0;
  }
}