.button {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: rem(18px);
    line-height: 1.15;
    color: $c-gray-900;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 2px solid $c-gray-500;
    border-radius: 0;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        color: $font-color-base;
        text-decoration: none;
    }

    &.focus,
    &:focus {
        outline: 0;
        box-shadow: none;
    }

    &.disabled,
    &:disabled {
        opacity: .65;
        box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        box-shadow: inset 0 3px 5px rgba($c-black, .125);

        &:focus {
            box-shadow: 0 0 0 .2rem rgba($c-primary, .25);
        }
    }
}

.button-primary {
    background-color: $c-primary;
    border-color: $c-primary;
    color: $c-white;

    &:hover {
        color: $c-white;
        background-color: lighten($c-primary, 10%);
    }
}

.button-link {
    border: none;
    text-decoration: underline;
}

.button-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    & > .button {
        position: relative;
        flex: 1 1 auto;

        &:hover {
            z-index: 1;
        }

        &:focus,
        &:active,
        &.active {
            z-index: 1;
        }
    }

    & > .button:not(:first-child),
    & > .button-group:not(:first-child) {
        margin-left: -1px;
    }

    & > .button:not(:last-child):not(.dropdown-toggle),
    & > .button-group:not(:last-child) > .button {
        @include border-right-radius(0);
    }

    & > .button:not(:first-child),
    & > .button-group:not(:first-child) > .button {
        @include border-left-radius(0);
    }
}

.button.is-loading {
    position: relative;
    color: transparent;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        border: 4px solid #929292;
        border-radius: 50%;
        border-top: 4px solid #fff;
        width: 26px;
        height: 26px;
        margin: -13px 0 0 -13px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}