.input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 0;
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1.3;
    color: $font-color-base;
    background-color: $c-white;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid $c-primary;

    &::placeholder {
        text-transform: uppercase;
        color: $font-color-base;
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: $c-gray-200;
        opacity: 1;
    }

    &:focus {
        outline: 0;
        border-bottom: 2px solid $c-primary;
    }
}

.label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

select.input {
    &[size],
    &[multiple] {
        height: auto;
    }
}

textarea.input {
    padding: 20px;
    border: 2px solid $c-primary;
    height: auto;
}

.input-block {
    margin-bottom: 20px;

    &.form-submit-block {
        margin-top: 40px;
    }
}

.input-hint {
    display: block;
    margin-top: 0.25rem;
}

.input-error {
    color: $c-red;
    margin: 5px 0 0 0;
    font-size: rem(16px);
}

.custom-radio-button {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size: rem(18px);
    font-weight: 500;

    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    input:checked ~ .checkmark {
        background-color: $c-primary;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
}

.custom-check-button {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size: rem(18px);
    font-weight: 500;

    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    input:checked ~ .checkmark {
        background-color: $c-primary;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        background: white;
    }
}

@media (max-width: $grid-breakpoint-xs) {
    .custom-radio-button {
        line-height: 1;
        padding-left: 30px;

        .checkmark {
            height: 20px;
            width: 20px;
        }

        .checkmark:after {
            top: 7px;
            left: 7px;
            width: 6px;
            height: 6px;
        }
    }
}