.table {
    width: 100%;
    margin-bottom: 10px;
    color: $font-color-base;
    font-size: 1.4rem;

    th,
    td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid $c-gray-300;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: (2 * 1px) solid $c-gray-300;
    }

    tbody + tbody {
        border-top: (2 * 1px) solid $c-gray-300;
    }
}

.table-bordered {
    border: 1px solid $c-gray-300;

    th,
    td {
        border: 1px solid $c-gray-300;
    }

    thead {
        th,
        td {
            border-bottom-width: 2 * 1px;
        }
    }
}

.table-borderless {
    th,
    td,
    thead th,
    tbody + tbody {
        border: 0;
    }
}

.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: rgba($c-black, .05);
    }
}

.table-hover {
    tbody tr {
        &:hover {
            background-color: rgba($c-black, .075);
        }
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    & > .table-bordered {
        border: 0;
    }
}
