html, body {
  min-height: 100%;
  height: 100%;
  font-size: $font_size_base;
  text-rendering: optimizeLegibility;
  font-family: $font_futura;
  color: $font-color-base;
}

body {
  min-width: 320px;
  position: relative;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border: 6px solid $c-primary;
}

.page-inner {
  flex: 1 0 auto;
  overflow-x: hidden;
}

.fade {
  transition: opacity .15s linear;

  &:not(.show) {
    opacity: 0;
  }
}

img.img-fluid {
  max-width: 100%;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

h2, h3, h4, h6 {
  font-family: $font_futura;
  font-weight: 500;
  margin-bottom: 20px;
}

sup {
  top: 1.5px;
  vertical-align: super;
  font-size: smaller;
}

.social-list {
  display: flex;

  .social-list__item {
    width: 24px;
    height: 24px;
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
    }

    &.instagram {
      background: url('../images/icon_instagram_b.svg');
    }

    &.facebook {
      background: url('../images/icon_facebook_b.svg');
    }

    &.linkedin {
      background: url('../images/icon_linkedin_b.svg');
    }
  }
}

.section {
  margin-bottom: 60px;
}

.section-footer {
  display: none;
  margin-top: 10px;
  text-align: center;

  .button {
    max-width: 355px;
    width: 100%;
  }
}

.section-title-wrapper {
  display: flex;
  padding: 30px 0 20px 0;
  border-bottom: 2px solid $c-primary;
  position: relative;
  margin-bottom: 60px;

  &.section-title-linked {
    align-items: center;
    justify-content: space-between;
  }
}

.section-title {
  text-transform: uppercase;
  font-size: rem(45px);
  font-weight: 500;
  margin: 0;
}

.section-all-link {
  text-transform: uppercase;
  font-size: rem(18px);
  font-weight: 500;
  position: relative;
  color: $c-black;
  text-decoration: none;
  padding-right: 27px;

  &:hover {
    text-decoration: none;

    &:after {
      right: -5px;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/icon_angle_right.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: right 0.2s;
  }
}

.page-title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 0;
  margin-bottom: 60px;
  border-bottom: 2px solid $c-primary;
  position: relative;
  flex-direction: column;

  &.page-title-linked {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &.page-title-no-mb {
    margin-bottom: 0;
  }

  &.page-title-no-border {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.page-title {
  margin: 0;
  font-size: rem(45px);
  font-weight: 500;
  text-transform: uppercase;
}

.page-title-link {
  text-transform: uppercase;
  font-size: rem(18px);
  font-weight: 500;
  color: $c-primary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.button-sort {
    &:after {
      content: '';
      margin-left: 5px;
      display: inline-block;
      width: 10px;
      height: 14px;
      background: url('../images/icon_sort.svg') no-repeat center;
      background-size: contain;
    }
  }
}

.page-title-published {
  margin-top: 20px;
  color: #545050;
  font-size: rem(16px);
  text-transform: uppercase;
}

.page-title-author {
  margin-top: 10px;
  font-size: rem(18px);
}

.page-content {
  font-family: $font_barlow;
  font-size: rem(18px);
  line-height: 1.6;
  margin-bottom: 60px;

  p {
    margin-bottom: 20px;
  }

  h2:not(:first-child), h3:not(:first-child) {
    margin: 50px 0 20px 0;
  }

  ul, ol {
    padding-left: 20px;

    li {
      margin: 20px 0;
    }
  }
}

.page-content-text {
  padding-right: 70px;
}

.page-load-more {
  display: flex;
  padding: 60px 0 90px 0;
  justify-content: center;
}

.section-share {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 2px solid $c-primary;
}

.share-wrapper {
  .share-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: rem(18px);
    font-weight: 500;
  }

  .social-list {
    justify-content: flex-end;
  }
}

@media (max-width: $grid-breakpoint-xs) {
  .page {
    border-width: 2px;
  }
  .social-list {
    justify-content: center;
  }
  .section-footer {
    display: block;
  }
  .section-title {
    font-size: rem(22px);
  }
  .section-title-wrapper {
    padding: 20px 0 10px 0;
    margin-bottom: 30px;

    .section-all-link {
      display: none;
    }
  }
  .page-title {
    font-size: rem(22px);
  }
  .page-content {
    font-size: rem(15px);
    margin-bottom: 40px;

    h2:not(:first-child), h3:not(:first-child) {
      margin: 30px 0 10px 0;
    }
  }
  .page-title-wrapper {
    padding: 0 0 15px 0;
    margin-bottom: 30px;
  }
  .page-title-author {
    margin-bottom: 10px;
  }
  .page-content-text {
    padding-right: 10px;
  }
  .page-load-more {
    padding: 30px 0 60px 0;

    .button {
      width: 100%;
      max-width: 375px;
    }
  }
  .section-share {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: rem(26px);
  }
  h2 {
    font-size: rem(24px);
  }
  h3 {
    font-size: rem(20px);
  }
  h4 {
    font-size: rem(18px);
  }
  h5 {
    font-size: rem(16px);
  }
  h6 {
    font-size: rem(15px);
  }
}